<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo01</title>
</head>
<body>
<div class="box">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
    </ul>
</div>
<p class="ppp"></p>
<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="template.js"></script>
<script id="artinfo" type="text/html">
    <!-- {{if retData}}
        <ul>
            <li>{{retData.province_cn}}</li>
            <li>{{district_cn}}</li>
            <li>{{name_cn}}</li>
            <li>{{name_en}}</li>
            <li>{{area_id}}</li>
        </ul>
    {{/if}} -->
    <ul>
        <li>{{retData.province_cn}}</li>
        <li>{{district_cn}}</li>
        <li>{{name_cn}}</li>
        <li>{{name_en}}</li>
        <li>{{area_id}}</li>
    </ul>

</script>
<script id="test" type="text/html">
    {{if isAdmin}}

    <h1>{{title}}</h1>
    <ul>
        {{each list as value i}}
            <li>索引 {{i + 1}} ：{{value}}</li>
        {{/each}}
    </ul>

    {{/if}}
</script>
<script type="text/javascript">
    $.ajax({
        url: "./data01.json",
        type: "GET",
        dataType: "json",
        success: function(data){
            var htmls = template('artinfo',data.retData);
            $(".box").empty().html(htmls);
            console.log(data.retData.name_cn)
            console.log(if retData)
        },
        error: function(){
            console.log(456);
        }
    });
    var datas = {
    	title: '基本例子',
    	isAdmin: true,
    	list: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
    };
    var htmls = template('test', datas);
    $(".ppp").html(htmls);
</script>
</body>
</html>
