@charset "UTF-8";
/**
 * 
 * @authors jiayi (690405541@qq.com)
 * @date    2015-05-26 14:31:19
 * @version 1.0
 */
/*初始化  reset*/
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;color: #666;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
em,i{font-style:normal}
ol,ul{list-style:none}
a{text-decoration:none}
fieldset,img{border:0;vertical-align:top;}
textarea{resize:none;}
a,input,button,select,textarea{outline:none;}
a,button{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0}
body{padding-top: 50px;}
/*布局  grid*/
.g-wp{width:1200px;margin-left:auto;margin-right:auto}
/*功能  function*/
.f-fl{float:left}
.f-fr{float:right}
.f-fl,.f-fr{dispaly:inline}
.f-cb:after{content: "";display:table;clear:both;}
.f-cb{*zoom:1}
.hide{display: none;}
.show{display: block;}
/*右边侧导航*/
.rightBtns{
	position: fixed;
    bottom: 50px;
    right: 20px;
    width: 40px;
    height: 300px;
    z-index: 10000;
    display: none;
}
.rightBtns a {
    background:url(../img/rightBtns.png) repeat;
    display: block;
    height: 40px;
    margin-bottom: 10px;
    width: 40px;
}
.rightBtns a.btn1 {
    background-position: 0 0;
}
.rightBtns a.btn2 {
    background-position: 0 -40px;
}
.rightBtns a.btn3 {
    background-position: 0 -80px;
}
.rightBtns a.btn4 {
    background-position: 0 -120px;
    display: none;
}
.rightBtns a.btn1:hover {
    background-position: -40px 0;
}
.rightBtns a.btn2:hover {
    background-position: -40px -40px;
}
.rightBtns a.btn3:hover {
    background-position: -40px -80px;
}
.rightBtns a.btn4:hover {
    background-position: -40px -120px;
}
/*顶部导航栏*/
.header {
    background-color: #222222;
    box-shadow: 0 0 2px black;
    height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.header_c {
    margin: 0 auto;
    width: 1200px;
}
.header_c h1 {
    background:url(../img/logo.jpg) no-repeat;
    width: 297px;
}
.header_c h1 a {
    display: block;
    width: 297px;
    height: 0;
    padding-top: 50px;
    overflow: hidden;
}
.header_c .nav {
    font-size: 13px;
}
.header_c .nav{
    height: 50px;
    line-height: 50px;
}
.header_c .nav span{
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #9a9a9a;
}
.header_c .nav span strong{color: #fff;margin-left: 5px;}
.header_c .nav span img{margin-right: 5px;}
.header_c .nav img{vertical-align: middle;}
.header_c .nav .img{
	margin-left: 30px;
}
/*flash*/
.banner{
	width: 100%;
	height: 750px;
	position: relative;
	z-index: 0;
	overflow: hidden;
}
.banner .ban{width: 100%; height: 150px; background:url(../img/banner_01.jpg) no-repeat center top; overflow: hidden;}
.banner .ban2{background-image: url(../img/banner_02.jpg);}
.banner .ban3{background-image: url(../img/banner_03.jpg);}
.banner .ban4{background-image: url(../img/banner_04.jpg);}
.banner .ban5{background-image: url(../img/banner_05.jpg);}
.banner .abox{width: 300px; position: absolute; left: 50%; margin-left: -150px; top:614px;}
.banner .abox a{display:block; float: left; width: 130px; height: 48px; margin-right: 40px; text-indent: -9999px;}
/*头部优惠*/
.favourable{
	height: 223px;
	padding-top: 77px;
	background-color: #193257;
}
.favourable-hd{
	position: relative;
	padding-top: 7px;
	height: 48px;
}
.favourable-hd .line{
	height: 1px;
	overflow: hidden;
	background-color: #395a8b;
}
.favourable-hd h1{
	position: absolute;
	top:0;
	padding-top: 17px;
	width: 100%;
	height: 0;
	overflow: hidden;
	background:url(../img/favourable-title.gif) no-repeat center top;
}
.favourable-bd{
	padding: 0 120px;
}
.favourable-bd dl{
	position: relative;
	width: 245px;
	height: 102px;
	margin-right: 18px;
	border: 1px solid #3f6292;
	cursor:pointer;
}
.favourable-bd dt{
	position: absolute;
	left:-2px;
	top:-18px;
	width: 100%;
	height: 20px;
	padding-top: 50px;
	text-align: right;
	color: #6a90c7;
	background:url(../img/favourable1.jpg) no-repeat;
}
.favourable-bd dt img{
	left:0;
	top:0;
}
.favourable-bd .jian dt{background-image: url(../img/favourable2.jpg);}
.favourable-bd .zeng dt{background-image: url(../img/favourable3.jpg);top:-19px;}
.favourable-bd dd{
	padding-top: 39px;
}
.favourable-bd p{
	line-height: 18px;
}
.favourable-bd dd h3{
	padding-left: 17px;
	font-size: 18px;
	line-height: 28px;
	color:#fff;
}
.favourable-bd dd h3 strong{
	color:#ffb400;
}
.favourable-bd .btn{
	display: block;
	width: 158px;
	line-height: 104px;
	font-size: 20px;
	text-align: center;
	color:#fff;
	background-color: #14a56d;
	-webkit-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
}
.favourable-bd .btn:hover{
	background-color: #0f8e5d;
}
/*为什么学习*/
.whylearn{
	padding-top: 111px;
	background: #fff url(../img/whylearn-bg.jpg) right top no-repeat;
}
.whylearn-hd{
	position: relative;
	height: 182px;
	padding-left: 326px;
	margin-bottom: 84px;
}
.whylearn-bd{
	width: 100%;
	height: 119px;
	overflow: hidden;
}
.whylearn-bd ul{
	width: 1300px;
	margin-left: -7px;
}
.whylearn-bd li{
	float: left;
	display: inline;
	width: 295px;
	height: 100px;
	margin-left: 7px;
	padding-top: 19px;
	text-align: center;
	color: #fff;
	background-color: #ff7979;
	cursor: pointer;
	-webkit-transition: background 0.1s;
	-o-transition: background 0.1s;
	transition: background 0.1s;
}
.whylearn-bd li:hover,.whylearn-bd .current{
	background-color: #d80404;
}
.whylearn-bd li h3{
	font-size: 36px;
	line-height: 52px;
	font-weight: bold;
}
.whylearn-bd li p{
	font-size: 18px;
	line-height: 24px;
}
.whylearn-ad{
	position: relative;
	width: 750px;
	height:310px;
	overflow: hidden;
	margin: 8px 0 57px 243px;
}
.whylearn-ad img{
	position: absolute;
	left:0;
	top:0;
	display: none;
	z-index: 1;
}
.whylearn-ad .wow{
	display: block;
	z-index: 2;
}
/*就业方向*/

.jobdir{
	padding:48px 0;
	background-color: #efebf9;
}
.jobdir-hd{
	position: relative;
	width: 1000px;
	height: 412px;
	overflow: hidden;
	margin:0 auto 94px;
}
.jobdir-hd .bg{
	position: absolute;
	left:34px;
	top:412px;
	width: 934px;
	height: 412px;
	background:url(../img/jobdir-hd-bg.jpg) center top no-repeat;
	opacity: 0;
	filter: alpha(opacity=0);
}
.jobdir-hd .line{
	position: absolute;
	z-index: 2;
	width: 0;
	height: 24px;
	overflow: hidden;
	border-bottom: 1px dotted #6c6c6c;
}
.jobdir-hd .line img{
	position: absolute;
	top:0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.jobdir-hd .left1{
	right:614px;
	top:104px;
}
.jobdir-hd .right2{
	top:36px;
	left:600px;
}
.jobdir-hd .left3{
	right:619px;
	top:197px;
}
.jobdir-hd .right4{
	top:152px;
	left:610px;
}
.jobdir-hd .left1 img,.jobdir-hd .left3 img{
	left:30px;
}
.jobdir-hd .right2 img,.jobdir-hd .right4 img{
	right:30px;
}
.jobdir-bd{
	height: 170px;
	overflow: hidden;
}
.jobdir-bd dl{
	float: left;
	width: 244px;
	height: 170px;
	padding: 0 27px;
	border-left: 1px solid #9d9d9d;
	text-align: center;
	color: #70778b;
	cursor:pointer;
}
.jobdir-bd dt{
	height: 47px;
	padding: 24px 0 14px;
}
.jobdir-bd dd{text-align: left;}
/*年薪*/
.salary{
	height: 241px;
	padding-top: 44px;
	text-align: center;
	background-color: #193c6e;
}
.salary-hd{
	height: 105px;
	padding-bottom: 36px;
}
.salary-btn{
	display: inline-block;
	width: 192px;
	height: 46px;
	background:url(../img/salary-btn.jpg) no-repeat;
}
.salary-btn:hover{
	background-position: left bottom;
}
/*为什么学习*/
.whatlearn{
	padding: 105px 0 74px;
	background:url(../img/whatlearn-bg.jpg) no-repeat 240px 0;
}
.whatlearn-hd{
	height: 181px;
	padding-left: 347px;
}
.whatlearn-bd{
	padding-top: 61px;
 	overflow: hidden;
}
.whatlearn-bd .icon{
	position: relative;
	padding-left: 110px;
	height: 110px;
	overflow: hidden;
	margin-bottom: 42px;
}
.whatlearn-bd .icon li{
	float: left;
	display: inline;
	margin-left: 15px;
	width: 110px;
	height: 110px;
}

.whatlearn-bd .icon a{
	display: block;
	width: 110px;
	height: 110px;
	overflow: hidden;
	background:url(../img/whatlearn-icon1.png) 0 0 no-repeat;
}
.whatlearn-bd .icon a:hover{
	background-position: left bottom;
}
.whatlearn-bd .icon2 a{background-image: url(../img/whatlearn-icon2.png);}
.whatlearn-bd .icon3 a{background-image: url(../img/whatlearn-icon3.png);}
.whatlearn-bd .icon4 a{background-image: url(../img/whatlearn-icon4.png);}
.whatlearn-bd .icon5 a{background-image: url(../img/whatlearn-icon5.png);}
.whatlearn-bd .icon6 a{background-image: url(../img/whatlearn-icon6.png);}
.whatlearn-bd .icon7 a{background-image: url(../img/whatlearn-icon7.png);}
.whatlearn-bd .icon8 a{background-image: url(../img/whatlearn-icon8.png);}
.whatlearn-bd .list{
	width: 1300px;	
	height: 142px;
}
.whatlearn-bd .list li{
	float: left;
	display: inline;
	width: 291px;
	height: 126px;
	padding:14px 42px 0 32px;
	border: 1px solid #c5c5c5;
	margin-right: 49px;
	line-height: 26px;
}
.whatlearn-bd .list h3{
	height: 54px;
	margin-bottom: 6px;
	padding-left: 13px;
}
/*火热报名*/
.hotregister{
	position: relative;
	margin-top: 180px;
	height: 205px;
	background-color: #ff585a;
}
.hotregister-hd{
	position: absolute;
	top:-180px;
	left:50%;
	width: 658px;
	height: 263px;
	overflow: hidden;
	margin-left:-329px;
}
.hotregister-bd{
	padding-left: 450px;
	padding-top: 115px;
}
.hotregister-bd a{
	float: left;
	width: 130px;
	font-size: 20px;
	line-height: 48px;
	text-align: center;
	margin-right: 40px;
	background-color: #fff;
	color: #ae0002;
}
.hotregister-bd a:hover{
	background-color: #ffbe33;
	color: #fff;
}
/*课程*/
.course{
	padding: 55px 0 44px;
}
.course h2{
	height: 71px;
	text-align: center;
	padding-bottom: 28px;
}
.course .shadow{
	height: 16px;
	overflow: hidden;
	background: #eeeff0; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeff0 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeff0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeff0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeff0 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeff0 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeff0 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeff0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.course .list{
	margin-top: 56px;
	overflow: hidden;
}
.course .list h3{
	height: 108px;
	text-align: center;
}
.course .list ul{
	width: 1300px;
	margin-bottom: 64px;
}
.course .list li{
	float: left;
	width: 398px;
	height: 168px;
	margin:0 3px 3px 0;
}
.course .list li{
	position: relative;
	overflow: hidden;
	width: 398px;
	height: 168px;
}
.course .list li .mask{
	position: absolute;
	left:0;
	z-index: 1;
	top:168px;
	width: 100%;
	height: 100%;
	color: #fff;
}
.course .list li .flash{
	width: 398px;
	height: 168px;
	overflow: hidden;
	position: absolute;
	left:0;
	top:0;
	z-index: 0;
}
.course .list li .mask h4{
	padding-top: 20px;
	line-height: 36px;
	font-size: 20px;
	text-align: center;
}
.course .list li .mask p{
	line-height: 24px;
	padding:10px 40px 0;
}
.course .list li .mask{ background-color:rgba(7,30,64,0.8); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#cc071e40", EndColorStr="#cc071e40"); zoom:1;}
:root .course .list li .mask{ filter:none\9;}
/*我能学会吗*/
.learnhui{
	text-align: center;
}
.learnhui-top{
	margin-bottom: 54px;
	height: 307px;
	overflow: hidden;
	background: #080808 url(../img/learnhui-top.jpg) center top no-repeat;
}
.learnhui-top img{
	padding-top: 79px;
}
.learnhui-bottom{
	height: 238px;
	overflow: hidden;
	border-bottom: 1px solid #c3c8d1;	
	background: #fff url(../img/learnhui-bottom.jpg) center bottom no-repeat;
	text-align: left;
}
.learnhui-bottom img{
	margin-left: 325px;
}
.learnhui-hd h3{
	height: 64px;
	margin-bottom: 59px;
}
.learnhui-hd ul{
	height: 238px;
	margin-bottom: 68px;
}
.learnhui-hd li{
	float: left;
	width: 239px;
	height: 238px;
	border-left: 1px solid #c7c7c7;
}
.learnhui-hd li div{
    cursor: default;
    float: left;
    padding: 0 18px;
    width: 208px;
    -moz-perspective: 400px;
    -webkit-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.learnhui-hd li img {
	-webkit-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.learnhui-hd li:hover div {
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
    transform: scale(1.1);
}
.learnhui-hd .current img {
	-webkit-transform: rotateY(720deg);
	-o-transform: rotateY(720deg);
    transform: rotateY(720deg);
}
.learnhui-hd li h4 {
	padding-top: 20px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
}
.learnhui-hd li p {
    color: #777;
    line-height: 24px;
    text-align: left;
}
.learnhui-bd h3{
	height: 64px;
	margin-bottom: 32px;
}
.learnhui-bd .slidepic{
	position: relative;
	height: 500px;
	margin-bottom: 102px;
}
.learnhui-bd .slidepic ul{
	position: absolute;
	left:0;
	top:0;
	z-index: 1;
}
.learnhui-bd .slidepic li{
	position: absolute;
	width: 800px;
	height: 500px;
	overflow: hidden;
	left:200px;
	top:0;
	background-color: #6475ae;
}
.learnhui-bd .slidepic li img{
	width: 100%;
	height: 100%;
}
.learnhui-bd .toggle{
	position: absolute;
	z-index:2;
	width: 100%;
	height: 100%;
	display: none;
}
.learnhui-bd .toggle a{
	position: absolute;
	left:100px;
	top:50%;
	width: 76px;
	height: 112px;
	margin-top: -56px;
	background:url(../img/prev.png) 0 0 no-repeat;
}
.learnhui-bd .toggle .next{
	right: 100px;
	left: auto;
	background-image:url(../img/next.png);
}
.learnhui-why{
	overflow: hidden;
	padding-top: 34px;
	padding-bottom: 63px;
	text-align: center;
}
.learnhui-why-hd{
	padding-bottom: 70px;
}
.learnhui-why-hd h3{
	height: 64px;
	margin-bottom: 31px;
}
.learnhui-why-hd .video{
	width: 980px;
	height: 578px;
	margin: 0 auto;
	overflow: hidden;
	cursor: pointer;
}
.learnhui-why-bd h3{
	height: 33px;
	padding-bottom: 30px;
}
.learnhui-why-bd-img{
	height: 443px;
}
.learnhui-why-bd-img{
	text-align: left;
}
.learnhui-why-bd-img h4{
	background-color: #656d8f;
	color: #fff;
	line-height: 42px;
	font-size: 18px;
	height: 42px;
}
.learnhui-why-bd-img span{float: left;}
.learnhui-why-bd-img h4 span{
	font-weight: normal;
	padding-left: 16px;
}
#learnhui{
	border-top: 1px solid #d6d9e5;
	position: relative;
	height: 400px;
	overflow: hidden;
}
.learnhui-why-bd-img ul{
	position: absolute;
}
.learnhui-why-bd-img ul span{
	height: 39px;
	padding-left: 15px;
	border: 1px solid #d6d9e5;
	border-top: none;
	border-left: none;
}
.learnhui-why-bd-img ul li{	
	height: 40px;
	line-height: 40px;
	vertical-align: top;
	color: #656d8f;
	border-left: 1px solid #d6d9e5;
	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;

}
.learnhui-why-bd-img .td1{
	width: 103px;
}
.learnhui-why-bd-img .td2{
	width: 91px;
}
.learnhui-why-bd-img .td3{
	width: 216px;
}
.learnhui-why-bd-img .td4{
	width: 142px;
}
.learnhui-why-bd-img .td5{
	width: 290px;
}
.learnhui-why-bd-img .td6{
	width: 111px;
}
.learnhui-why-bd-img .td7{
	width: 134px;
}
/*选择武汉*/
.wuhan{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 455px;
	background:url(../img/wuhan-bg.jpg) center top no-repeat;
}
.wuhan .g-wp{
	position: relative;
	top:0;
	height: 455px;
}
.wuhan h3{
	width: 241px;
	height: 331px;
	padding: 38px 0 0 15px;
}
.wuhan .box{
	position: absolute;
	width: 247px;
	height: 247px;
	text-align: center;
	color: #ff6a6a;
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-perspective: 400px;
    -webkit-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.wuhan .box div{
	height: 170px;
	padding-top: 77px;
	background:url(../img/wuhan-btm.png) no-repeat;
	-webkit-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.wuhan .current div{
	-webkit-transform: rotateY(720deg);
	-o-transform: rotateY(720deg);
    transform: rotateY(720deg);
}
.wuhan .box h4{
	font-size: 30px;
	font-weight: bold;
	line-height: 44px;
}
.wuhan .box p{
	line-height: 26px;
	font-size: 16px;
}
.wuhan .box span{
	position: absolute;
	top:0;
	left:0;
	padding: 80px 50px 0;
	word-wrap: break-word;
	color: #666;
	text-align: left;
	display: none;
}
.wuhan .odd{
	top:22px;
}
.wuhan .odd1{
	left:515px;
}
.wuhan .odd2{
	left:796px;
}
.wuhan .odd3{
	left:1077px;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.wuhan .odd4{
	top:307px;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.wuhan .even{
	left: 234px;
	top:307px;
}
.wuhan .even1{
	left:658px;
}
.wuhan .even2{
	left:939px;
}
/*常见问题*/
.wenti{
	padding-bottom:100px;
	background: #fff url(../img/learnhui-bottom.jpg) center bottom no-repeat;
}
.wenti-hd{
	width: 100%;
	padding-top: 105px;
	padding-bottom: 27px;
	overflow: hidden;
	background:url(../img/wenti-top.jpg) 239px 0 no-repeat;
}
.wenti-hd h3{
	height: 64px;
	margin-bottom: 39px;
	text-align: center;
}
.wenti-hd ul{
	width: 1300px;
}
.wenti-hd ul li{
	float: left;
	width: 542px;
	min-height: 116px;
	padding:7px 23px 0 17px;
	margin-right: 30px;
	margin-bottom: 22px;
	background-color: #fff;
	border: 1px solid #cfcfcf;	
}
.wenti-hd ul li h4{
	font-size: 18px;
	line-height: 42px;
	color: #1a287a;
}
.wenti-hd ul li p{
	line-height: 20px;
	color: #8b90a9;
}
.wenti-bd h3{
	height: 154px;
	padding-left: 221px;
}
.wenti-bd-box{
	height: 403px;
	padding-top: 43px;
}
.wenti-bd ul{
	overflow: hidden;
	height: 0;
	border-left: 1px dotted #8289b2;
}
.wenti-bd ul li{
	float: left;
	width: 105px;
	height: 0;
	overflow: hidden;
	padding-left: 65px;
	border-right: 1px dotted #8289b2;	
}
.wenti-bd ul li img{
	margin-top: 35px;
	opacity: 0;
	filter: alpha(opacity=0);
}
.lianxi{
	width: 100%;
	height: 346px;
	background: url(../img/lianxi.jpg) no-repeat center top;
}
/*梦想在奋斗*/
.mengxiang{
	height: auto;
	padding-top: 60px;
	background-color: #fff;
	border-bottom: 1px solid #dfdfdf;
}
.mengxiang-hd{
	height: 86px;
	overflow: hidden;
	text-align: center;
}
.mengxiang-bd{
	padding-top: 25px;
	padding-left: 438px;
}
.mengxiang-bd a{
	float: left;
	width: 162px;
	height: 44px;
	line-height: 44px;
	font-size: 20px;
	margin-right: 10px;
	text-align: center;
	border-radius: 5px;
	background-color: #ff4800;
	color: #fff;
}
.mengxiang-bd a:hover{
	background-color: #ff2a00;
}
.mengxiang-bd .zx{
	background-color: #6fc315;
}
.mengxiang-bd .zx:hover{
	background-color: #67b612;
}
/*底部版权信息*/
.footer{
	padding:35px 0 20px;
	overflow: hidden;
}
.foot-ad{
	width: 327px;
	height: 23px;
	margin-top: 86px;
	background: #fff url(../img/foot-ad.gif) 0 0 no-repeat;
}
.foot a{
	color: #484848;
}
.foot a:hover{
	color: #333;
	text-decoration: underline;
}
.foot p{
	line-height: 26px;
}
.foot .one{
	line-height: 36px;
	color: #484848;
}
.delay1{
	-webkit-animation-delay:0.1s;
	animation-delay:0.1s
}
.delay2{
	-webkit-animation-delay:0.2s;
	animation-delay:0.2s
}
.delay3{
	-webkit-animation-delay:0.3s;
	animation-delay:0.3s
}
@-webkit-keyframes rollInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(-120deg);
    transform: translateX(100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(120deg);
    -ms-transform: translateX(100%) rotate(120deg);
    transform: translateX(100%) rotate(120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    -ms-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

.rollInRight {
  -webkit-animation-name: rollInRight;
  animation-name: rollInRight;
}